.inner-management-container{
    display: flex;

    .drop-container{
        padding: 5px;
        margin: 5px;
        border :1px solid black;
    }

    .dropzone{
        border: 1px solid black;
        min-height: 50px;
    }

    .dropOK{
        background-color: green;
    }

    .line{
        margin: 3px;
        padding: 3px;
        border: 1px solid black;
    }
    .moving{
        background-color: aqua;
    }
}